:local(.backgroundImg) {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/background.jpg);
  width: 100%;
  /* height: 700px; */
}

:local(.infoBox) {
  background: rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* height: 50%; */
  padding: 10%;
  font-size: 30px;
  text-align: center;
}

.transparentBox {
}
