:local(.backgroundImg) {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/background.jpg);
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

:local(.infoBox) {
  background: rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 5rem;
  font-size: 30px;
  text-align: center;
}

.title {
  margin-bottom: 3rem;
}

.button {
  margin-top: 5rem;
  border: none;
  background: #a51e36;
  color: #fff !important;
  padding: 14px 45px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-appearance: none;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background: #a53a4d;
  cursor: pointer;
}

.recipesContainer {
  margin-right: 200px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipesInfoContainer {
  margin-left: 50px;
  text-align: center;
}

/* .nutritionContainer {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
} */

@media screen and (max-width: 1100px) {
  :local(.backgroundImg) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  :local(.infoBox) {
    width: 50%;
    padding: 2rem;
    font-size: 20px;
  }

  .title {
    margin-bottom: 1.5rem;
  }

  .button {
    margin-top: 3rem;
    border: none;
  }

  .recipesContainer {
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recipesContainer img {
    width: 100%;
  }

  .recipesInfoContainer {
    margin: 50px;
    margin-top: 30px;
    font-size: 15px;
  }
}
